.iconStyle{
  width: 120px;
  height: 120px;
  border:0px solid;
  border-radius: 25px;
}

.titleStyle{
  font-size: 12px;
  text-align: center;
  margin-top: -15px;
  border: 0px solid;
  border-radius: 8px;
  background-color: #eee;
  width: 100%;
}

.cardStyle{
  cursor: pointer;
  min-width: 80px;
  min-height: 80px;
  width: 120px;
  height: 120px;
  border: 0px solid;
  border-radius: 20px;
  backgroundColor: none;
}
