.tableClass{
  width: 60%;
  margin: 0 auto;
}

.searchByName{
  text-align: center;
  width: 20%;
}

.searchByStatus{
  margin-left: 20%;
  margin-bottom: 8px;
}

.userInfoCell{
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 31%;
}

.test{
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* Internet Explorer 9*/
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
