@import "~antd/lib/style/themes/default.less";
.tableColumn{
  text-align: center;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown-input {
  width: 50%;
  margin-right: 12px;
  margin-left: -40px;
}

.custom-filter-dropdown button{
  margin-left: 3px;
}

.highlight {
  color: #f50;
}

.headerInfo {
  position: relative;
  text-align: center;
  & > span {
    color: @text-color-secondary;
    display: inline-block;
    font-size: @font-size-base;
    line-height: 22px;
    margin-bottom: 4px;
  }
  & > p {
    color: @heading-color;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  & > em {
    background-color: @border-color-split;
    position: absolute;
    height: 56px;
    width: 1px;
    top: 0;
    right: 0;
  }
}
